<header class=" bg-secondary py-4">
    <div class="container flex justify-between items-center gap-3">
        <a href="/" class="mr-auto">
            <h1 class="text-2xl font-bold text-primary ">Chat App</h1>
        </a>
        <a class="btn-secondary" href="/signin">Signin</a>
        <a class="btn" href="/signup">Join Now</a>
    </div>
</header>