<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>CTRL Chat</title>
  </head>

  <body>
    <%- include("components/toast.ejs") %> <%- include("components/header.ejs")
    %>
    <main
      class="container mx-auto flex flex-1 flex-col items-center justify-center px-4 py-8"
    >
      <div class="mx-auto mb-12 max-w-2xl text-center">
        <h2 class="mb-4 text-4xl font-bold text-primary text-balance">
          Welcome to CTRL Chat App
        </h2>
        <p class="mb-8 text-lg">Connect with friends and family in real-time</p>
        <a
          href="/chat"
          class="rounded-lg bg-primary px-6 py-3 text-white transition-colors hover:bg-primary/90"
        >
          Start Chatting
        </a>
      </div>

      <div class="mb-12 grid gap-8 md:grid-cols-3">
        <div class="rounded-lg bg-secondary p-6 text-center sm:col-span-2">
          <h3 class="mb-3 text-xl font-semibold text-primary/80">
            Real-time Messaging
          </h3>
          <p>
            Send and receive messages instantly with our real-time chat system
          </p>
        </div>
        <div
          class="grid place-content-center rounded-lg bg-secondary p-6 text-center sm:row-span-2"
        >
          <h3 class="mb-3 text-xl font-semibold text-primary/80">
            User Friendly
          </h3>
          <p>Simple and intuitive interface for the best chat experience</p>
        </div>
        <div class="rounded-lg bg-secondary p-6 text-center">
          <h3
            class="mb-3 flex items-baseline justify-center gap-2 text-xl font-semibold text-primary/80"
          >
            <span> File Sharing </span>
            <span
              class="text-shadow text-xs text-foreground text-shadow-primary"
            >
              (coming soon)
            </span>
          </h3>
          <p>Share files, images and documents seamlessly with other users</p>
        </div>
        <div class="rounded-lg bg-secondary p-6 text-center">
          <h3
            class="mb-3 flex items-baseline justify-center gap-2 text-xl font-semibold text-primary/80"
          >
            <span> Group Chats </span>
            <span
              class="text-shadow text-xs text-foreground text-shadow-primary"
            >
              (coming soon)
            </span>
          </h3>
          <p>
            Create and manage group conversations with multiple participants
          </p>
        </div>
      </div>
    </main>
    <%- include("components/footer.ejs") %>
  </body>
</html>
