<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>ChatApp | Signup</title>
</head>

<body>
    <%- include("components/header.ejs") %>
        <main class=" flex-1 container mx-auto px-4 py-8 flex flex-col justify-center items-center ">
            <form class="w-full" action="">
                <header class="space-y-3 mb-12  text-center">
                    <h1 class="text-3xl text-primary font-semibold">Join The Best Chatting App</h1>
                    <p class="text-foreground/80">Enjoy the experience</p>
                </header>
                <div class="space-y-4 max-w-xl mx-auto">
                    <div class="flex flex-col gap-4">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="flex flex-col gap-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="flex flex-col gap-4">
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" name="cpassword" id="cpassword">
                    </div>
                    <div class="flex flex-col gap-4">
                        <button class="btn">Signup</button>
                    </div>
                    <p class="text-foreground/80 text-center">Already have an account? <a href="/signin"
                            class="text-primary">Signin</a>
                    </p>
                </div>
            </form>
        </main>
        <%- include("components/footer.ejs") %>
</body>

</html>