<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/output.css">
        <script type="module" src="/js/signinScript.js"></script>
        <title>ChatApp | Signin</title>
    </head>

    <body>
        <%- include("components/header.ejs") %>
        <%- include("components/toast.ejs") %>
        <main
            class=" flex-1 container mx-auto px-4 py-8 flex flex-col justify-center items-center ">
            <form id="signin-form" class="w-full" action="/signin"
                method="post">
                <header class="space-y-3 mb-12  text-center">
                    <h1 class="text-3xl text-primary font-semibold">Welcome back
                        The Best Chatting App</h1>
                    <p class="text-foreground/80">Enjoy the experience</p>
                </header>
                <div class="text-center">
                    <%- include("components/alert.ejs") %>
                </div>
                <div class="space-y-4 max-w-xl mx-auto">
                    <div class="flex flex-col gap-4">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="flex flex-col gap-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="flex flex-col gap-4">
                        <button class="btn">Signin</button>
                    </div>
                    <p class="text-foreground/80 text-center">You don't have am
                        acount? <a href="/signup"
                            class="text-primary">Signup</a>
                    </p>
                </div>
            </form>
        </main>
        <%- include("components/footer.ejs") %>
    </body>

</html>