@import "tailwindcss";

@theme {
  --color-background: #2c3639;
  --color-foreground: #dcd7c9;
  --color-primary: #a27b5c;
  --color-secondary: #3f4e4f;
}
body {
  @apply flex min-h-screen flex-col bg-background text-foreground;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @apply w-full rounded-md border border-gray-300 px-4 py-2 focus:border-blue-300 focus:ring focus:outline-none;
}

.btn {
  @apply cursor-pointer rounded-md bg-primary px-4 py-2 text-white transition-colors duration-300 hover:bg-primary/80;
}
.btn-secondary {
  @apply cursor-pointer rounded-md border-2 border-primary px-4 py-2 text-white transition-colors duration-300 hover:bg-primary/20;
}
.container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

.error-message {
  @apply text-sm text-red-500;
}

.chat-bubble {
  @apply w-fit max-w-[80%] overflow-clip rounded-xl px-4 py-2 text-white transition-transform transition-discrete duration-300;
  &.sent-message {
    @apply origin-bottom-right place-self-end rounded-br-none rounded-bl-md bg-primary;
  }
  &.received-message {
    @apply origin-bottom-left rounded-bl-none bg-secondary;
  }
}

.new-message {
  animation: bubble-in 0.3s ease-in-out;
}

.chat-content {
  @apply max-w-full overflow-clip text-wrap break-all whitespace-pre-wrap;
}

.scrollbar::-webkit-scrollbar {
  @apply w-1 rounded-md bg-background;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-md bg-primary/80;
}

@keyframes bubble-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
